<%- include("partials/header") -%>

<section class="px-5">
  <div class="text-center py-5">
    <h1><u>Choose a Game</u></h1>
  </div>

  <hr>

  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 g-4 pt-5">

  <% allGames.forEach(function(game){ %>

    <div class="col">
      <div class="card h-100">
        <img src="images/<%= game.imageFile %>" class="card-img-top" alt="game image">
        <div class="card-body text-center">
          <h5 class="card-title"><u><%= game.name %></u></h5>
          <a href="/game-stats/<%= game.name %>" class="btn btn-primary">Find Stats</a>
        </div>
      </div>
    </div>

  <% }); %>

  </div>
</section>

<%- include("partials/footer") -%>
